html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
}

.main_container {
  text-align: center;
  min-width: 280px;

}

.content_wrap {
  position: absolute;
  width: 100%;
  top: 98%;
  text-align: center;
  padding-bottom: 17rem;
  min-width: 280px;

}

.background {
  position: fixed;
  background-image: url(../../images/monitor-on-desk.jpg);
  z-index: -1;
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .35;
  font-size: 100px;
}

.test {
  font-size: 100px;
}